<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cupcakes</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <ul class="list">
    </ul>

    <form>
        <label for="flavor">Cup Cake flavor:</label>
        <input type="text" id="flavor" name="flavor" required>
        <label for="size">Cup Cake size:</label>
        <input type="text" id="size" name="size" required>
        <label for="rating">Your rate:</label>
        <input type="text" id="rating" name="rating" required>
        <label for="image">Add your URL:</label>
        <input type="text" id="image" name="image">


        <button>Submit</button>


    </form>
    
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>
</html>